<div class='container'>
  <h2>Student submissions</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Student</th>
      </tr>
    </thead>

    <tbody>
      <% if @assignment.due_time.end_of_day + 4.hour + 30.minutes <= Time.zone.now %>
      <% @submissions.each do |submission| %>
        <tr>
          <td>
            <%= submission.student.name%>
          </td>
          <td>
            <%= link_to "Link", submission.attachment.url%>
          </td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>