<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  <div class='jumbotron'>
    <h1>Cse170/Cogs120</h1>
    <p>
      <% unless current_user %>
        <%= link_to "Student Signup", new_student_path, :class=>"btn btn-primary"%>
        <%= link_to "Student Login", login_path, :class=>"btn btn-primary"%>
      <% end %>
    </p>
  </div>
  <hr>
  
</div>