<div class='container'>
  <h2>Quiz overview</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Student name</th>
        <th>PID</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <% @student_quizzes.each do |quiz| %>
        <% if quiz.student.present?%>
          <tr>
            <td><%= quiz.student.name %></td>
            <td><%= quiz.student.pid%></td>
            <td><%= quiz.score %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>